body{
    margin: 0;
    padding: 0;
} 

.background{
     background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 10%);
    -webkit-background-size: cover;
     -moz-background-size: cover;
}
.text-font{
    font-family: Philosopher-Regular, fantasy, monospace;
}

@font-face{
    font-family: Philosopher-Regular;
    src: url('../Fonts/Philosopher-Regular.ttf');
}

a{
    text-decoration: none;
}

h1{
    position: relative;
    text-align: center;
}

.headers2{
    font-size: 80px;
    text-align: center;
}

.headers3{
    font-size: 50px;
    text-align: center;
}

footer{
    position: relative;
    top: 140px;
    padding-bottom: 50px;
    margin: 20px;
    font-size: 23px;
    text-align: center;
}

.project-boxes{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 0px;
}
.projects-background{
    position: relative;
    width: 100%;
    top: 70px;
    margin: 0px;
    height: 3650px;
    background-size: 50%;
}


#Profile-pic{
    position: absolute;
    bottom: 2010px;
    border-radius: 10px;
    width: 87%;
    display: block;
    margin-left: 10px;
    margin-right: auto;
}


.about-me{
    position: relative;
    top: 50px;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    height: 160vh;
    background-size: 50%;
    background: yellow;

}
.about-me-text{
    position: relative;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    text-align: center;
    color: red;
    top: 610px;
    left: 0px;
}

.Flex-Container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    height: 250vh;
}

.PIU-Section{
    width 95%;
    height: 80vh;
}

#PIU_Image{
    width: 45%;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: -30px;
    top: 700px;
}

.PIU-TEXT{
    display: block;
    position: relative;
    font-size: 42px;
    left: 490px;
    width: 50%;
    top: 230px;
}

.Hobbies{
    width: 95%;
    height: 80vh;
}

#Books{
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 60%;
    height: 40%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: -40px;
}

.Books-text{
    left: 0px;
    top: -550px;
    display: block;
    font-size: 42px;
    position: relative;
    width: 43%;
}

#GoodReadsButton{
    display: none;
}

#Water_Image{
    padding-top: 10px;
    width: 70%;
    margin-right: auto;
    margin-left: -490px;
    position: relative;
    display: block;
}

#Duality_Image{
    padding-top: 10px;
    width: 70%;
    margin-right: auto;
    margin-left: -490px;
    position: relative;
    display: block;
}

#Poetry_Image{
    padding-top: 10px;
    width: 70%;
    margin-right: auto;
    margin-left: -490px;
    position: relative;
    display: block;
}

.Project-text{
    font-size: 50px;
}

.LOrLBackground{
    background: lightblue;
}

.Project-title{
    background: orange;
}

.Poems{
    background: cyan;
}

#menu-outer{
    z-index: 1;
    width: 100%;
    position: fixed;
    height: 90px;
    background: #708c89;
}

.table{   
    position: relative;
    display: inline-grid;
    margin: 0 auto;
}


ul#navbar{
    float: none;
    grid-gap: 40px;
    min-width: 100%;
    list-style: none;
    margin-top: 20px;
}

ul#navbar li{
    display: inline;
}

#Contact-button{
    color: white;
    font-size: 60px;
    position: relative;
    bottom: 30px;
    left: 44px
}

#Contact-button:hover{
    animation-name: hover;
    animation-fill-mode: forwards;
}

#Projects-button{
    color: white;
    font-size: 60px;
    bottom: 30px;
    position: relative;
    right: 15px;
}

#Projects-button:hover{
    animation-name: hover;
    animation-fill-mode: forwards;
    
}

@keyframes hover{
    100%{color: aqua}
}

#About-button{
    color: white;
    position: relative;
    font-size: 60px;
    bottom: 30px;
    left: 20px;
}

#About-button:hover{
    animation-name: hover;
    animation-fill-mode: forwards;
}

.Project-Button{
    color: white;
    font-size: 80px;
    transition: color .3s;
}

.Project-Button:hover{
    color: forestgreen;
}

#Contact-Section{
    position: relative;
    text-align: center;
    top: 70px;
}

#Contact-List{
    margin: 0;
    padding: 0;
    
}

#Github-Logo{
    width: 30%;
    border-radius: 50px;
}

#Insta-logo{
    width:30%;
    border-radius: 20px; 
}

#Gmail-Logo{
    width: 30%;
    border-radius: 0px;
}

#Snap-Logo{
    width: 30%;
    border-radius: 50px;
}

#Goodreads-logo{
    width: 30%;
    border-radius: 200px;
}

#Goodreads-text{
    font-size: 60px;
    position: relative;
    padding-left: 20px;
    bottom: 100px;
    transition: color .3s;
}

#profile-link{
    position: relative;
    font-size: 70px;
    bottom: 115px;
    transition: color .3s;
}

#profile-link:hover{
    color:#61d6e2;
}

#Insta-Text{
    color: mediumblue;
    position: relative;
    font-size: 70px;
    bottom: 125px;
    transition: color .3s;
}

#Insta-Text:hover{
    color: #61d6e2;
}

#Gmail-Text{
    bottom: 80px;
    font-size: 60px;
    position: relative;
    transition: color .3s;
}

#Gmail-Text:hover{
    color: #61d6e2;
}

#Snap-Text{
    font-size: 60px;
    position: relative;
    bottom: 100px;
    transition: color .3s;
}

#Snap-Text:hover{
    color: #61d6e2;
}
