body{
    margin: 0;
    padding: 0;
} 

.background{
     background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 10%);
    -webkit-background-size: cover;
     -moz-background-size: cover;
}
.text-font{
    font-family: Philosopher-Regular, fantasy, monospace;
}

@font-face{
    font-family: Philosopher-Regular;
    src: url('../Fonts/Philosopher-Regular.ttf');
}

a{
    text-decoration: none;
}

h1{
    position: relative;
    text-align: center;
}

footer{
    position: relative;
    top: 140px;
    padding-bottom: 50px;
    margin: 20px;
    font-size: 13px;
    text-align: center;
}

#project-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    text-align: center;
    
}

.project-boxes{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.projects-background{
    position: relative;
    width: 100%;
    top: 70px;
    margin: 0px;
    height: 1550px;
    background-size: 50%;
}


#Profile-pic{
    position: absolute;
    bottom: 360px;
    border-radius: 10px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.about-me{
    position: relative;
    top: 50px;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    height: 320vh;
    background-size: 50%;
    background: yellow;

}
.about-me-text{
    position: relative;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    text-align: center;
    color: red;
}

.Flex-Container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    height: 250vh;
}

.PIU-Section{
    width 95%;
    height: 80vh;
}

#PIU_Image{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.PIU-TEXT{
    display: block;
    position: relative;
    font-size: 22px;
    left: 290px;
    width: 60%;
    top: 120px;
}

.Hobbies{
    width: 95%;
    height: 80vh;
}

#Books{
    width: 80%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.Books-text{
    display: block;
    font-size: 22px;
    position: relative;
    width: 60%;
}

#Water_Image{
    padding-top: 10px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: block;
}

#Duality_Image{
    padding-top: 10px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: block;
}

#Poetry_Image{
    padding-top: 10px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: block;
}

.LOrLBackground{
    background: lightblue;
}

.Project-title{
    background: orange;
}

.Poems{
    background: cyan;
}

#menu-outer{
    z-index: 1;
    width: 100%;
    position: fixed;
    height: 50px;
    background: #708c89;
}

.table{   
    position: relative;
    display: inline-grid;
    margin: 0 auto;
}


ul#navbar{
    float: none;
    grid-gap: 40px;
    min-width: 100%;
    list-style: none;
    padding-top: 20px;
}

ul#navbar li{
    display: inline;
}

#Contact-button{
    color: white;
    font-size: 30px;
    position: relative;
    bottom: 30px;
    left: 44px
}

#Contact-button:hover{
    animation-name: hover;
    animation-fill-mode: forwards;
}

#Projects-button{
    color: white;
    font-size: 30px;
    bottom: 30px;
    position: relative;
    right: 15px;
}

#Projects-button:hover{
    animation-name: hover;
    animation-fill-mode: forwards;
    
}

@keyframes hover{
    100%{color: aqua}
}

#About-button{
    color: white;
    position: relative;
    font-size: 30px;
    bottom: 30px;
    left: 20px;
}

#About-button:hover{
    animation-name: hover;
    animation-fill-mode: forwards;
}

.Project-Button{
    color: white;
    font-size: 30px;
    transition: color .3s;
}

.Project-Button:hover{
    color: forestgreen;
}

#Contact-Section{
    position: relative;
    text-align: center;
    top: 70px;
}

#Contact-List{
    margin: 0;
    padding: 0;
    
}

#Github-Logo{
    width: 10%;
    border-radius: 50px;
}

#Insta-logo{
    width:10%;
    border-radius: 20px; 
}

#Gmail-Logo{
    width: 10%;
    border-radius: 0px;
}

#Snap-Logo{
    width: 10%;
    border-radius: 50px;
}

#profile-link{
    position: relative;
    font-size: 30px;
    bottom: 35px;
    transition: color .3s;
}

#profile-link:hover{
    color:#61d6e2;
}

#Insta-Text{
    color: mediumblue;
    position: relative;
    font-size: 30px;
    bottom: 35px;
    transition: color .3s;
}

#Insta-Text:hover{
    color: #61d6e2;
}

#Gmail-Text{
    bottom: 22px;
    font-size: 30px;
    position: relative;
    transition: color .3s;
}

#Gmail-Text:hover{
    color: #61d6e2;
}

#Snap-Text{
    font-size: 30px;
    position: relative;
    bottom: 30px;
    transition: color .3s;
}

#Snap-Text:hover{
    color: #61d6e2;
}